li{
  margin: 20px;
  list-style-type: none;
}
ul{
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
.topbutton{
background-color: brown;
color: white;
padding: 5px;
}
li a{
  text-decoration: none;
}
.nav{
  
}