body{
    font-family: 'Nunito', sans-serif;
    padding: 0px;
    }

nav{
  display: flex;
  justify-content: space-between;
}

nav> .logo{
  font-size: x-large;
  margin-left: 20px;
}

.navlist{
  display: flex;
  justify-content: space-between;
  margin-top: 40px; 
}

a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

li{
  padding-right: 30px;
  list-style-type: none;
}

*.container{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button{
  background-color: #EC4067;
  border-radius: 5px;
  color: white;
}
/* Changes button color on hover*/

.button:hover{
  color: magenta;
}

/*Styling the first section*/

#leftContent{
  margin-left: 80px;
  height: 100%;
  line-height: 40px;
  width: 50%;
}

.image1 > img{
  height: 100%;
  width: 50%;
  margin-top: -10px;
  margin-right: 500px;
}

#xy, #yx{
  margin-top: 100px;
}

#yx{
  margin-left: 40px;
}

/* Styling section 2*/

#left2{
  height: 400px;
  margin-left: 70px;
  margin-top: 50px;
}

#pt{
  margin-left: 75px;
}

#Or{
  padding-right: 500px;
  padding-left: 50px;
  padding-top: 100px;
}

#buttony{
  margin-top: 50px;
  width: 100px;
  height: 50px;
}

/*Styling section3*/

.boardmeet{
  margin-left: 100px;
  margin-top: 20px;
  line-height: 50px;
}

#buttonx{
  width: 50%;
  height: 35px;
  margin-top: 20px;
}

#ct3{
  margin-top: 50px;
}

#image3{
  height: 400px;
  padding-right: 320px;
}

/*style section4*/

#image4{
  height: 400px;
  margin-left: 80px;
  padding-top: 50px;
}

.graduation{
  padding-right: 500px;
  padding-top: 50px;
  line-height: 50px;
}

#buttonz{
  width: 100px;
  height: 40px;
}